City Traffic Simulation Application/.vs/City Traffic Simulation Application/v15/Server/sqlite3/storage.ide-shm/
City Traffic Simulation Application/.vs/City Traffic Simulation Application/v15/Server/sqlite3/storage.ide-wal/
City Traffic Simulation Application/City Traffic Simulation Application/obj/Debug/City Traffic Simulation Application.csproj.CoreCompileInputs.cache/
City Traffic Simulation Application/City Traffic Simulation Application/obj/Debug/City Traffic Simulation Application.csprojAssemblyReference.cache/
City Traffic Simulation Application/CityTrafficSimulationTest/obj/Debug/CityTrafficSimulationTest.csproj.CoreCompileInputs.cache/
City Traffic Simulation Application/CityTrafficSimulationTest/obj/Debug/CityTrafficSimulationTest.csprojAssemblyReference.cache/